extends ./layout/index

block contenido
  main(class="container mt-5")
    div(class="row")
      div(class="col-md-5")
        img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
      div(class="col-md-7")
        h1 #{pagina}
        blockquote  Quisque eget sodales arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras ac arcu ut tortor tincidunt tempus eget quis dui. Duis scelerisque ante massa, sed ullamcorper mauris vulputate ac. Fusce maximus venenatis tortor nec volutpat. Morbi hendrerit eu sapien non varius. Fusce vitae dapibus sapien. Nunc eros lectus, mattis tincidunt lectus ut, sodales tincidunt dolor. Phasellus id nulla at tellus varius lobortis. Cras vel nisi tincidunt, auctor mi id, consectetur enim. 

        p porta, lacus eu efficitur aliquam, mauris mauris pharetra orci, quis iaculis est purus ac leo. Nulla bibendum, elit quis malesuada tincidunt, est est accumsan sem, ac porta metus est eget nisl. Nulla a ultricies nisl. Nullam vitae imperdiet quam, ut rutrum odio. Sed quis libero ut purus consequat viverra. Quisque rhoncus magna posuere risus pretium congue. 

        p in magna congue, ullamcorper sapien in, eleifend nunc. In finibus volutpat ultricies. Morbi vehicula euismod blandit. Nam vel accumsan velit. Donec et odio nec enim congue maximus vitae vitae ligula. Pellentesque ultrices libero neque, consectetur porttitor ante blandit non. In pharetra tempus elementum. Mauris iaculis ante at leo ornare gravida. Proin libero ligula, interdum ac suscipit at, vehicula ut elit. Integer vel eros ac urna iaculis pretium. Duis dictum id lorem ac consequat. Aliquam ultrices felis eget sapien pellentesque elementum.

  div(class="listado-iconos")
    div(class="container mt-5 py-5 text-center")
      div(class="row")
        div(class="col-md-4")
          img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
          h2(class="mb-4") Seguridad
          p Proin libero ligula, interdum ac suscipit at, vehicula ut elit. Integer vel eros ac urna iaculis pretium. Duis dictum id lorem ac consequat. Aliquam ultrices felis eget sapien pellentesque elementum.

        div(class="col-md-4")
          img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
          h2(class="mb-4") Mejores Destinos
          p Proin libero ligula, interdum ac suscipit at, vehicula ut elit. Integer vel eros ac urna iaculis pretium. Duis dictum id lorem ac consequat. Aliquam ultrices felis eget sapien pellentesque elementum.

        div(class="col-md-4")
          img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
          h2(class="mb-4") Los Mejores Precios
          p Proin libero ligula, interdum ac suscipit at, vehicula ut elit. Integer vel eros ac urna iaculis pretium. Duis dictum id lorem ac consequat. Aliquam ultrices felis eget sapien pellentesque elementum.
